@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,400&display=swap');


body{ font-family: 'Roboto', sans-serif;
    font-size:100%; 
    color: rgb(240, 48, 112);

}
h1 {font-weight: 900;
text-transform: uppercase;
font-size:5.87em;}

#parrafo{ font-weight: 400;
    font-size:2.25em;}

a{ font-weight: 300;
text-transform: uppercase;
font-size:2em;
color: rgb(247, 167, 197);}

@media(max-width: 768px){
    body{font-size: 70%;}
   
}
header {
    background-image: url(../Fotos/foto1.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;  
}